body{
    background-color: #4ABDAC;
    display: block;
}
.header {
    background-color: #4ABDAC;
    color: black;
    display: block;
    text-align: center;

}

.header img{
    margin-left: auto;
    margin-right: auto;
}
.socials {
    
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
        
}
.socials a {
    float: left;
    text-align: center;
    padding: 12px 0;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

a:hover{
    background-color: cadetblue;
}
