body{
    background-color: #4ABDAC;
    display: block;
}
.header {
    background-color: #4ABDAC;
    color: black;
    display: block;
    text-align: center;

}
.header img{
    margin-left: auto;
    margin-right: auto;
}
.socials {
    background-color: #555;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
        
}
