body{
    /*background-color: #4ABDAC;*/
    display: grid;

}
.header {
    background-color: #4ABDAC;
    color: black;
    display: block;
    text-align: center;
    padding-top: 20px;

}

.header img{
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    height: 5%;
}
.socials {
    
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
        
}
.socials a {
    float: left;
    text-align: center;
    padding: 15px ;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    
}

a:hover{
    background-color: cadetblue;
}
.about-me {
    
    background-color: #FC4A1A ;
    color: black;
    border-style: solid;
    border-color: #f7b733;
    height: 400px;
    display: inline-block;
}
.about-me h1 {

    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    padding-bottom: 100px;
    width:2%;
    float: left; 
    
}

.about {
    background-color: #4ABDAC ;
    font-size: x-large;
    color: black;
    float: right;
    width: 92%;
    height: 400px;
   
}

.about p {
    float: left;
    width: 62%;
    text-align: justify;
    font-weight: lighter;
    font-family: fantasy;
    padding: 80px;
}

.about i {
    color: yellow;
}

.about img {
    float: right;
    width: 20%;
    
}
.hobbies{

    border-color: #FC4A1A ;
    color: black;
    border-style: solid;
    background-color: #f7b733;
    height: 400px;
    display: inline-block;

}



.hobbies h1{

writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    padding-bottom: 100px;
    width:2%;
    float: left; 
}



.hobbies-skills{
    background-color: #4ABDAC ;
    font-size: x-large;
    color: black;
    float: right;
    width: 92%;
    height: 400px;
    
    
}
.hobbies-skills img{
    width: 30%;
    float:left;
    padding: 50px;
}
.list  {
    
    padding-left: 10px;
    width: 60%;
    font-family: fantasy;
    font-weight: lighter;
    float: right;
    text-align: center;
}
ul{
    list-style-type: none;
}







